@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-georama: Georama, sans-serif;
  --font-inter: Inter, sans-serif;
  --breakpoint-xsm: 380px;

}

html {
  scroll-behavior: smooth;
}


@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

@media (orientation: landscape) {
  .hide-in-landscape {
    display: none !important;
  }
}




